
html {
  background-size: 450px;
  background-attachment: fixed;
  font-size: 16px;
}

body {
  font-size: 1.25rem;
}

fieldset {
  border-color: rgba(0,0,0,0.1);
  border-width: 1px;
}

button {
  background: var(--red);
  color: white;
  border: 0;
  padding: 0.6rem 1rem;
  border-radius: 2px;
  cursor: pointer;
  --cast: 2px;
  box-shadow: var(--cast) var(--cast) 0 var(--grey);
  text-shadow: 0.5px 0.5px 0 rgba(0,0,0,0.2);
  transition: all 0.2s;
  &:hover {
    --cast: 4px;
  }
}

img {
  max-width: 100%;
}