@import 'variables';

// Configuration
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

.Footer {
  background-color: $red;
  color: $white;
  padding: 2rem 0 1rem;

  a, a:hover {
    color: $white;
  }

  &--top-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &--logo {
    max-width: 180px;

    @include media-breakpoint-up(md) {
      max-width: 470px;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &--social-links {
    a {
      margin: .25rem;

      img {
        width: 2rem;
      }
    }
  }

  &--cards {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &--card {

    margin: 2rem 0;

    @include media-breakpoint-up(md) {
      flex: 1 1 30%;
    }

    &--box {
      display: flex;
      flex-direction: row;
    }

    &--icon {
      flex: 0 0 3rem;
      margin-right: .75rem;
      text-align: center;

      img {
        height: 2.5rem;
      }
    }

    &--content {
      font-size: 1rem;
      line-height: 1.5;

      a {
        font-weight: bold;
      }
    }
  }

  nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      margin: 2rem 0 2rem;

      li {
        margin-bottom: 1rem;
        margin-left: 3.75rem;
        font-weight: bold;
        font-size: 1rem;
      }

      @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: center;
        margin: 2rem 0 4rem;

        li {
          margin-bottom: 0;
          margin-left: .5rem;
          margin-right: .5rem;
        }
      }
    }
  }

  .copy {
    text-align: center;
    font-size: .9rem;
    margin: 2rem 0;
  }
}