@import 'variables';

// Configuration
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

.HeroBanner {
  position: relative;

  @include media-breakpoint-up(xl) {
    margin: 0 auto;
    width: map-get($grid-breakpoints, xl);
  }

  &--caption {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: 3rem;

    text-align: center;

    h2 {
      color: $white;
      font-weight: bold;
      text-shadow: $black 1px 0 10px;
    }
  }
}