@import 'variables';

// Configuration
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";


.ServicesSection {

  padding: 3rem 0;
  background-color: $white;

  header {
    text-align: center;
    margin-bottom: 4rem;

    h3 {
      position: relative;
      display: inline-block;
      font-size: 3rem;
      margin-bottom: 2.5rem;
    }

    p {
      margin: 0 1rem;
      @include media-breakpoint-up(md) {
        font-size: 1.125rem;
        margin: 0 auto;
        width: map-get($grid-breakpoints, md);
      }
    }
  }

  h4 {
    color: $black;
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }

  footer {
    margin: 3rem 0;
    text-align: center;
    .btn-outline-red {
      @include button-outline-variant($red);
      @include button-size(1rem, 1.25rem, 1.25rem, 1, 0);
      border-width: 3px;
      font-weight: bold;
    }
  }
}